
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@if (Session["SESSION_GROUP"] != null)
{
    List<string> privilegeLevels = (List<string>)Session["SESSION_GROUP"];

    if (privilegeLevels[0].CompareTo("Admin") == 0 || privilegeLevels[0].CompareTo("Staff") == 0)
    {
        <div class="container-fluid mr-5">
            <h3>Thêm loại sản phẩm</h3>
            <form action="~/Admin/Category/Add" method="post">
                <div class="form-group">
                    <label for="MaLSP">Mã loại sản phẩm:</label>
                    <input type="text" class="form-control" id="MaLSP" name="MaLSP" />

                    <label>Tên loại sản phẩm:</label>
                    <input type="text" class="form-control" id="TenLSP" name="TenLSP" />

                </div>
                <button class="btn btn-success" style="background-color: #007606 " type="submit">Lưu</button>
            </form>
        </div>
    }
}