
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12 col-sm-12 col-12">
        <div class="row mt-5 text-center" style="color: #007606"><h1>GIỚI THIỆU BẢN THÂN</h1></div>
        <div class="row justify-content-center mt-5">
            <!--Left-->
            <div class="col-md-4 col-sm-12 col-12  text-center">
                <img src="~/images/132852813_2496625787307998_6379776152926189122_n.jpg" style="width:277px;" />
            </div>
            <!--Right-->
            <div class="col-md-4 col-sm-12 col-12 " style="font-size:20px">
                <p><span style="color: #007606"><strong>Tên :</strong></span> Trần Tiến Đạt</p>
                <p><span style="color: #007606"><strong>Mã sinh viên :</strong></span> 190521</p>
                <p><span style="color: #007606"><strong>Lớp :</strong></span> K15CNTT</p>
                <p><span style="color: #007606"><strong>Đề tài :</strong></span> Website bán hàng</p>
                <p><span style="color: #007606"><strong>Ngôn ngữ :</strong></span> C#</p>
                <p><span style="color: #007606"><strong>Nền tảng :</strong></span> .NET Framework</p>

            </div>
        </div>

        <div class="row mt-5 text-center" style="color: #007606"><h1>Quy trình kiểm định</h1></div>
        <div class="row text-center">
            <p>Nhóm của chúng tôi sử dụng quy trình xác minh nhiều bước nghiêm ngặt bao gồm các điểm kiểm tra sau:</p>
        </div>
        <div class="row justify-content-between mt-5">
            <!--Left-->
            <div class="col-md-4">
                <div class="row mt-5">
                    <div class="col-md-3 col-sm-3 col-3"><img style="width: 80px" src="~/images/about1.png" alt=""></div>
                    <div class="col-md-9 col-sm-9 col-9">
                        <span style="font-size:20px"><strong>Condition</strong></span>
                        <p>Chúng tôi chỉ bán sản phẩm mới (Deadstock) và chưa mang bao giờ</p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-3 col-sm-3 col-3"><img style="width: 80px" src="~/images/about2.png" alt=""></div>
                    <div class="col-md-9 col-sm-9 col-9">
                        <span style="font-size:20px"><strong>Construction</strong></span>
                        <p>Người xác thực của chúng tôi được trang bị tốt hơn bất kỳ ai để đảm bảo tính xác thực của sản phẩm.</p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-3 col-sm-3 col-3"><img style="width: 80px" src="~/images/about3.png" alt=""></div>
                    <div class="col-md-9 col-sm-9 col-9">
                        <span style="font-size:20px"><strong>Packaging</strong></span>
                        <p>Bao bì đóng gói đáp ứng các tiêu chuẩn chất lượng cao nhất để cung cấp một sản phẩm hoàn toàn mới.</p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-12">
                        <img src="~/images/about4.jpg" style="width:277px;" />
                    </div>
                </div>
            </div>
            <!--Right-->
            <div class="col-md-4">
                <div class="row mt-5">
                    <div class="col-md-12">
                        <img src="~/images/about5.jpg" style="width:277px;" />
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-3 col-sm-3 col-3"><img style="width: 80px" src="~/images/about6.png" alt=""></div>
                    <div class="col-md-9 col-sm-9 col-9">
                        <span style="font-size:20px"><strong>Accessories</strong></span>
                        <p>Đầy đủ phụ kiện đến tiện ích bổ sung, giao dịch trực tuyến ở HyperX sẽ phù hợp với bất kì trải nghiệm mua lẻ nào.</p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-3 col-sm-3 col-3"><img style="width: 80px" src="~/images/about7.png" alt=""></div>
                    <div class="col-md-9 col-sm-9 col-9">
                        <span style="font-size:20px"><strong>Advanced Technology</strong></span>
                        <p>Công nghệ máy học hỗ trợ việc xác thực các mọi chi tiết nhỏ của sản phẩm.</p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-3 col-sm-3 col-3"><img style="width: 80px" src="~/images/about8.png" alt=""></div>
                    <div class="col-md-9 col-sm-9 col-9">
                        <span style="font-size:20px"><strong>Quality Assurance</strong></span>
                        <p>Kiểm tra lần cuối trong quy trình xác thực, các chuyên gia QA của chúng tôi đảm bảo không có bất kì sai sót nào của sản phẩm.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5 text-center">
            <!--Left-->
            <div class="col-md-4 mt-5">
                <img class="icon-about" src="~/images/verified-authentic2021-400x230.png" alt="">
                <span style="font-size:25px"><strong>100% CHÍNH HÃNG</strong></span>
                <p>
                    <strong>Mọi mặt hàng được bán đều trải qua quy trình xác minh nhiều bước với đội ngũ chuyên gia xác thực của chúng tôi.</strong>
                </p>
            </div>
            <!--Mid-->
            <div class="col-md-4 mt-5">
                <img class="icon-about" src="~/images/secure2021.png" alt="">
                <span style="font-size:25px"><strong>AN TOÀN</strong></span>
                <p>
                    <strong>Hệ thống bảo mật được cung cấp bởi các đối tác đẳng cấp thế giới của chúng tôi, thông tin cá nhân của bạn được bảo vệ 24/7.</strong>
                </p>
            </div>
            <!--Right-->
            <div class="col-md-4 mt-5">
                <img class="icon-about" src="~/images/global-access2021.png" alt="">
                <span style="font-size:25px"><strong>DỊCH VỤ TOÀN CẦU</strong></span>
                <p>
                    <strong>Chúng tôi luôn sẵn sàng giao đến tận tay bạn đôi giày mà bạn yêu thích ở khắp mọi nơi trên thé giới</strong>
                </p>
            </div>
        </div>

    </div>
</div>

