
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-5">
    <h1 class="blog-title">Blog</h1>
</div>
<div class="card bg-dark text-white blog">
    <img src="~/images/footer.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title"><a href="~/Home/chitietblog" style="color:#FFFFFF;">Top 5 đôi sneaker đắt nhất thế giới</a></h5>
        <p class="card-text">Giày sneakers có thể nói là một item không bao giờ lỗi mốt, cứ lâu lâu các hãng giày sneaker lại tung ra một thiết kế mới, điều này cũng kéo theo giá sneakers tăng cao. Hãy cùng điểm qua 5 đôi giày sneakers đắt nhất thế giới, đắt đến mức mua cả 1 ngôi biệt thự hạng sang ở Việt Nam nhé!</p>
        <p class="card-text">Đăng bởi: Mr. Đạt</p>
    </div>
</div>

