
@{
    ViewBag.Title = "chitietblog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mt-5">
        <h1 class="blog-title">Top 5 đôi sneaker đắt nhất thế giới</h1>
    </div>
    <br /><br />
    <p style="font-size: 20px">Giày sneakers có thể nói là một item không bao giờ lỗi mốt, cứ lâu lâu các hãng giày sneaker lại tung ra một thiết kế mới, điều này cũng kéo theo giá sneakers tăng cao. Hãy cùng <a href="~/Home/Index" class="link-success" style="font-style: italic"><b>HyperX</b></a> điểm qua <b>5 đôi giày sneakers đắt nhất thế giới</b>, đắt đến mức mua cả 1 ngôi biệt thự hạng sang ở Việt Nam nhé!</p>
    <h3>1. Air Yeezy 2 Red October – (17.000.000 USD)</h3>
    <img src="~/images/blog/Nike-Air-Yeezy-2-Red-October.jpg" alt="..." class="card-img">
    <p style="font-size: 20px">Đôi giày thể thao đắt nhất thế giới, được thiết kế bởi Kanye West, anh ấy muốn làm cho đôi giày Yeezy trở nên hoàn hảo và cao cấp. Nike đã bán hết chỉ trong 1 phút trên trang web chính thức, tuy nhiên có người đã đăng giá trên mạng và chốt lại là 17.000.000, tuy nhiên, dựa trên thỏa thuận bảo mật thì vẫn chưa biết người mua là ai.</p>
    <h3>2. Lining Fire Monkey – (4.000.000 USD)</h3>
    <img src="~/images/blog/fire-monkey.jpg" alt="..." class="card-img">
    <p style="font-size: 20px">Giày thể thao được thiết kế bởi thương hiệu đã phá sản của Mỹ – Bicion và nhà thiết kế giày thể thao nổi tiếng Dan Gamache. Mẫu giày cơ bản không phải là thiết kế của các thương hiệu Âu Mỹ mà là thiết kế của thương hiệu Li-Ning Trung Quốc. Đôi giày này có hàng trăm carat kim cương trắng được thiết kế riêng, kết hợp với ngọc bích cao cấp và huy chương vàng 18K, làm cho tổng thể đôi giày trở nên siêu sang trọng. Nhưng toàn bộ số tiền thu được từ việc đấu giá đôi giày này sẽ được quyên góp cho các tổ chức từ thiện địa phương để giúp đỡ những người gặp khó khăn.</p>
    <h3>3. Solid Gold OVO x Air Jordans – (2.000.000 USD)</h3>
    <img src="~/images/blog/solid-ovo-air-jordan.jpg" alt="..." class="card-img">
    <p style="font-size: 20px">Nếu có 1 ngày mà một đôi giày thể thao được phủ vàng 24k, và ngày đó cuối cùng cũng đến khi Drake hợp tác với Nike để tạo ra Solid Gold OVO x Air Jordan. Chúng được tạo ra bởi nghệ sĩ người Mỹ Matthew Senna và mỗi chiếc giày nặng 50lbs! $ 2 Triệu có vẻ như là một thỏa thuận tốt với tất cả những thứ được xem xét.</p>
    <h3>4. Air Jordan 1 OG 'Chicago' 1985 – (560.000 USD)</h3>
    <img src="~/images/blog/Air-Jordan-1-“Chicago”.jpg" alt="..." class="card-img">
    <p style="font-size: 20px">Giữa năm 2020, nhà đấu giá Sotheby’s cũng đã phát động một cuộc đấu giá theo chủ đề “The One | MJ’s Air Jordan 1s”, bán đấu giá một đôi Air Jordan 1 “Chicago” đầu tiên mà Jordan đã chơi trong trận đấu vào năm 1985.</p>
    <p style="font-size: 20px">Giá khởi điểm là 100.000 USD. Tuy nhiên, đến ngày 17/5,  đôi giày này được bán với mức giá 560.000 USD, đưa Air Jordan Chicago 1985 trở thành đôi giày đắt nhất lịch sử Air Jordan.</p>
    <p style="font-size: 20px">Mặc dù toàn bộ đôi giày mang đậm dấu ấn tuổi tác, phần màu trắng đã bị oxy hóa và ố vàng, nhưng vẫn có thể cảm nhận được phần da trên tinh tế và mềm mại. Có một chữ ký được viết bởi Jordan với một điểm đánh dấu vĩnh viễn ở phía trên bên trong, theo lý thuyết, chữ ký này sẽ không bao giờ biến mất. Có 1 điều đặc biệt là phiên bản này có chân trái và chân phải có kích cỡ khác nhau, vì chúng được làm hoàn toàn cho chính Jordan.</p>
    <h3>5. Nike Air Mag 'Back To The Future' – (200.000 USD)</h3>
    <img src="~/images/blog/air-mag.jpeg" alt="..." class="card-img">
    <p style="font-size: 20px">Đôi giày thể thao này có mối liên hệ với một bộ phim khoa học viễn tưởng năm 1989. Nhân vật chính đã đi một đôi giày thể thao có tên [Nike Air Mag] và du hành đến năm 2015. Sau khi xuyên không, đôi giày thể thao này nghiễm nhiên trở thành hiện tượng. Về lý do tại sao đôi giày này có thể được bán với giá 200.000 đô la Mỹ tại trang đấu giá New York, tất cả là do chức năng tự động lên dây của nó. Loại giày này sẽ mang lại trải nghiệm thoải mái nhất theo chuyển động và dáng chân của người mang. Cùng với đèn LED siêu ngầu, cho phép bạn bước lên và tỏa sáng.</p>
</div>

